<div class="panel-body">
  <div class="panel" *ngFor="let child of children">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" sv-highlighter>
        <pre><code class="sql">{{ child.signature }}</code></pre>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
               [attr.aria-valuenow]="child.netExecutionTime"
               aria-valuemin="0"
               [attr.aria-valuemax]="child.executionTime"
               [style.min-width]="'2em'"
               [style.width]="util.toPercentage(child.executionTime, parent.executionTime)">{{ util.toPercentage(child.executionTime, parent.executionTime) }}
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" [class.exceeded-min-millisecond]="isExceededMinMillisecond(child.executionTime)">
        {{ util.toMillisecond(child.executionTime) }}
      </div>
    </div>

    <sv-callstack-tree [children]="child.children"
                       [parent]="child"
                       [root]="root"
                       [minMilliseconds]="minMilliseconds"
                       *ngIf="child.children.length > 0">
    </sv-callstack-tree>
  </div>
</div>
