<div class="container-fluid">
  <div class="page-header" *ngIf="callstackHits">
    <h1>
      <small>Callstack {{ callstackIndex + 1 }} of {{ callstackHits.length  }}</small>
      <div class="pull-right">
        <button class="btn btn-default" (click)="previous()" *ngIf="callstackIndex > 0">
          <span class="glyphicon glyphicon-chevron-left"></span> Previous
        </button>
        <button class="btn btn-default" (click)="next()" *ngIf="callstackIndex + 1 < callstackHits.length">Next
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-primary" (click)="toggleRefresh()"><span class="glyphicon glyphicon-refresh"></span> Auto {{ isAutoRefresh() }}</button>
        <button class="btn btn-primary" (click)="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
      </div>
    </h1>
  </div>

  <div class="panel panel-default" *ngIf="callstack && callstack.signature" highlight-js-content>
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <label>SIGNATURE: {{ callstack.signature }}</label>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
                 [attr.aria-valuenow]="callstack.executionTime"
                 aria-valuemin="0"
                 [attr.aria-valuemax]="callstack.executionTime"
                 [style.width]="utils.toPercentage(callstack.executionTime,callstack.executionTime)"
                 >
              {{ utils.toPercentage(callstack.executionTime, callstack.executionTime) }}
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <label>{{ utils.toMillisecond(callstack.executionTime) }}</label>
        </div>
      </div>
    </div>
    <sv-callstack-tree
      [children]="callstack.children"
      [parent]="callstack"
      [root]="callstack"
      [minMilliseconds]="minMilliseconds">

    </sv-callstack-tree>
  </div>

</div>
