<div class="container-fluid">

  <div class="page-header">
    <h1>
      <small>Callstack</small>
    </h1>
  </div>

  <div class="panel panel-default" *ngIf="callstack">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <label>SIGNATURE</label>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <label>PERCENTAGE</label>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <label>SECONDS</label>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          {{ callstack.signature }}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
                 [attr.aria-valuenow]="callstack.executionTime"
                 aria-valuemin="0"
                 [attr.aria-valuemax]="callstack.executionTime"
                 [style.width]="utils.toPercentage(callstack.executionTime,callstack.executionTime)"
                 [style.min-width]="'3em'">
              {{ utils.toPercentage(callstack.executionTime, callstack.executionTime) }}
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          {{ utils.toSeconds(callstack.executionTime) }}
        </div>
      </div>
      <sv-callstack-tree [children]="callstack.children" [parent]="callstack" [root]="callstack"></sv-callstack-tree>
    </div>
  </div>

</div>
